{% extends "base.html" %}

{% block title %}
Sign UP
{% endblock %}

{% block content %}

<form method="POST">
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
        
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name">
        
        <label for="password1">Password1</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter Password">
        
        <label for="password2">Password2</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}

